body {
    font:normal 12px Arial; color:#333; margin:0; padding:0; 
  }
*{box-sizing:border-box}
a{text-decoration:none; color:#333}
a:hover{color:#f75d75}
.container{padding: 0 20px}

/*Một số class phổ biến*/
.fl{float:left}
.fr{float:right}
.cb{clear:both}

/*Phần header*/
#header{height:80px; overflow:hidden}/*height: chiều cao, overflow:hidden: khi chiều cao của box khong đủ chứa text, thì text bj tràn sẻ được dấu đi*/
#header .logo{float:left; line-height:80px}/*line-heigh:tăng hoặc giảm khoản cách giữa các giòng */
#header .accountMenu{float:right; line-height:80px}


/**Menu chính*/
.MenuChinh{ background:#77C7FF}
.MenuChinh ul,
.MenuChinh li{list-style:none; margin:0;padding:0}/*list-sttpe:none : không hiển thị image list, margin: canh lề cho cá thành phần */
.MenuChinh li{display:inline-block}/*display: xác định thể loại hiển thị inline-block tp hiển thị như một khối nhưng là một khối nội tuyến*/
.MenuChinh li a{display:inline-block; padding: 10px 15px; color:#fff; font-weight:bold}
.MenuChinh li a.current,
.MenuChinh li a:hover{color:#3BAAFF}


/*css cột trái, cột phải trang admin*/
.cotTrai{float:left; width:18%; box-sizing:border-box; border: solid 2px #dfdfdf; min-height:464px}
.cotPhai{float:right;width:80%; box-sizing:border-box; border: solid 2px #dfdfdf; min-height:464px}

/*css Menu Quản lý trái*/
.cotTrai .head{background:#f9f9f9; padding:10px;font-weight:bold; border-top:solid 2px #dfdfdf; border-bottom:solid 2px #dfdfdf}
.cotTrai .head:first-child{border-top:none}
.cotTrai ul li{padding:5px 0}
.cotTrai ul li a.current,
.cotTrai ul li a:hover{color:#ff006e}


/*Cột phải*/
.cotPhai .head{background:#f9f9f9; padding:10px;font-weight:bold; border-top:solid 2px #dfdfdf; border-bottom:solid 2px #dfdfdf}
.cotPhai .head:first-child{border-top:none}


/*css khung thêm mới */
.FormThemMoi {
    padding: 15px;
}
.thongtin{overflow:hidden; padding-bottom:10px}
.tentruong{float:left; width:150px}
.toolbox{float:left;width:calc(100% - 150px)}

.FormThemMoi input[type=text],
.FormThemMoi select{border: solid 1px #dfdfdf;padding:5px;width:50%}
.FormThemMoi .btThemMoi,
.FormThemMoi .btHuy{border:0;background:#3BAAFF; cursor:pointer; padding:8px 20px; color:#fff; font-weight:bold}
.FormThemMoi .btHuy{background:#808080; margin-left:15px}
.FormThemMoi .btHuy:hover{background:#bbb}
.FormThemMoi .btThemMoi:hover{background:#77C7FF}

.FormThemMoi .thongBaoTaoThanhCong{color:red; font-size:16px; padding-bottom:20px; font-weight:bold; text-align:center}




/*css trang hiện thị các danh mục sản phẩm */
.KhungChuaBan{padding:5px}
.KhungChuaBan .tbDanhMuc{width:100%
                  ;border-collapse:collapse;
                   border:solid 1px #dfdfdf ;
}
.KhungChuaBan .tbDanhMuc th,
.KhungChuaBan .tbDanhMuc td{border:solid 1px #dfdfdf;
                      padding:5px}
.KhungChuaBan .tbDanhMuc .cotMa{width:50px}
.KhungChuaBan .tbDanhMuc .cotAnh{width:120px}
.KhungChuaBan .tbDanhMuc .cotThuTu{width:40px}
.KhungChuaBan .tbDanhMuc .cotCongCu{width:120px}

.KhungChuaBan .tbDanhMuc .cotMa1{width:50px; text-align:left}
.KhungChuaBan .tbDanhMuc .cotTen1{width:auto; text-align:center}
.KhungChuaBan .tbDanhMuc .cotAnh1{width:120px; text-align:center}
.KhungChuaBan .tbDanhMuc .cotThuTu1{width:40px; text-align:center}
.KhungChuaBan .tbDanhMuc .cotCongCu1{width:200px; text-align:right}

.KhungChuaBan .tbDanhMuc .cotCongCu1 a{display:inline-block; width:24px; height:24px; background-position:center; background-repeat:no-repeat}
.KhungChuaBan .tbDanhMuc .cotCongCu1 .dmcon{background-image:url(image/show.png)}
.KhungChuaBan .tbDanhMuc .cotCongCu1 .dmsua{background-image:url(image/edit.png)}
.KhungChuaBan .tbDanhMuc .cotCongCu1 .dmxoa{background-image:url(image/delete.png)}
.KhungChuaBan .tbDanhMuc .cotAnh1{position:relative; z-index:1}
.KhungChuaBan .tbDanhMuc .cotAnh1 .anhDaiDien{max-width:40px; max-height:40px}
.KhungChuaBan .tbDanhMuc .cotAnh1 .anhDaiDienHover{max-width:200px; max-height:200px; display:none; position:absolute; z-index:1; top: 2px; left:80px }
.KhungChuaBan .tbDanhMuc .cotAnh1 .anhDaiDien:hover .anhDaiDienHover{display:inline-block}